force-app/main/default/flows/Quote_Clone_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_PBE_Size</name>
        <label>Assign PBE Size</label>
        <locationX>490</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>pbe_size</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Inactive_Price_Book_Entries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_PBE_Size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QLI_Size</name>
        <label>Assign QLI Size</label>
        <locationX>270</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>qli_size</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Quote_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QLI_Size_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product2_Assignment</name>
        <label>Product2 Assignment</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Product2Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLI_Loop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QLI_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_PBE_Size</name>
        <label>Check PBE Size</label>
        <locationX>490</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Create_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inactive_PBEs_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pbe_size</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PBE_Exist_Screen</targetReference>
            </connector>
            <label>Inactive PBEs Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>QLI_Size_Decision</name>
        <label>QLI Size Decision</label>
        <locationX>270</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>QLI_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_QLIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qli_size</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QLIs_DNE_Screen</targetReference>
            </connector>
            <label>No QLIs</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NextQuoteVersion</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!Get_Quote.Next_Quote_Version__c}), 2 ,{!Get_Quote.Next_Quote_Version__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>QuoteName</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Get_Quote.Name}, &quot;_v&quot;), LEFT({!Get_Quote.Name} , FIND(&quot;_v&quot;, {!Get_Quote.Name}) - 1) &amp; &quot;_v&quot; &amp; TEXT({!NextQuoteVersion}), LEFT({!Get_Quote.Name}, 250 ) &amp; &quot;_v&quot; &amp; TEXT({!NextQuoteVersion}))</expression>
    </formulas>
    <formulas>
        <name>QuoteVersionIncremented</name>
        <dataType>Number</dataType>
        <expression>{!NextQuoteVersion} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Quote Clone Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Clone Flow</label>
    <loops>
        <name>Loop_Through_Quote_Line_Items</name>
        <label>Loop Through Quote Line Items</label>
        <locationX>666</locationX>
        <locationY>1454</locationY>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Quote_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>QLI_Loop</name>
        <label>QLI Loop</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product2_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Inactive_Price_Book_Entries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>666</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Loop_Through_Quote_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Quote.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>QuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Quote_Version__c</field>
            <value>
                <elementReference>QuoteVersionIncremented</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Quote.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Quote.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line_Items</name>
        <label>Create Quote Line Items</label>
        <locationX>754</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Loop_Through_Quote_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Loop_Through_Quote_Line_Items.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Loop_Through_Quote_Line_Items.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Loop_Through_Quote_Line_Items.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Loop_Through_Quote_Line_Items.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Inactive_Price_Book_Entries</name>
        <label>Get Inactive Price Book Entries</label>
        <locationX>490</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_PBE_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Product2Ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>270</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>270</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_QLI_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>666</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecordRedirect</name>
            <extensionName>c:openRecordPageFlowAction</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Quote</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>target</name>
                <value>
                    <stringValue>_self</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PBE_Exist_Screen</name>
        <label>PBE Exist Screen</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PBE_Error_Text</name>
            <fieldText>&lt;p&gt;This quote cannot be cloned because there are inactive price book entries associated with this quote. Please activate these price book entries before cloning, or remove them from the quote.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inactive_PBE_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PricebookEntry</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Inactive PBEs</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Inactive_Price_Book_Entries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b5b9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QLIs_DNE_Screen</name>
        <label>QLIs DNE Screen</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>QLI_DNE_Text</name>
            <fieldText>&lt;p&gt;Please add quote line items to the quote before cloning.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>pbe_size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Product2Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qli_size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
